<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/global.css"/>
{#    <link rel="stylesheet" href = "http://127.0.0.1:8000/static/css/datasetSearch.css">#}
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/echarts.min.js"></script>
    <script type="text/javascript"  src="http://127.0.0.1:8000/static/js//highcharts/highcharts.js"></script>
    <script type="text/javascript"  src="http://127.0.0.1:8000/static/js//highcharts/exporting.js"></script>
    <script type="text/javascript"  src="http://127.0.0.1:8000/static/js//highcharts/highcharts-zh_CN.js"></script>
    <style>
        .navbar {
            border-radius: 0;
            background-color: #ac7369;
        }

        h1{
            font-size: 25px;
            text-align: center;
            font-weight: bold;
        }

        .text{
            margin: 50px auto;
            font-size: 21px;
            text-align: center;
            font-weight: bold;
        }

        .title {
            width: 1130px;
            margin: 10px auto;
            padding: 0 50px;
            height: 36px;
            font-size: 17px;
            font-weight: bold;
            line-height: 36px;
            background-image: linear-gradient(#d5e4f7, #f9fafb);
            border: 1px solid #cdc5bf;
            border-radius: 13px;
        }

        .Homologous_table {
            width: 600px;
            margin: 30px auto;
            text-align: center;
        }

        .Homologous_table th{
            font-size: 17px;
            font-weight: bold;
        }

        th {
            height: 40px;
            border: 1px solid #ddd;
            border-bottom-width: 2px;
            text-align: center;
        }

        #literature_table{
            width: 1250px;
            margin: 50px auto;
        }

        #literature_table thead tr th{
            font-size: 15px;
        }

        #literature_table tbody tr th{
            font-size: 14px;
            font-weight: normal;
        }
    </style>

</head>

<body>
<div id="head">
    <img src="http://127.0.0.1:8000/static/img/logo.png" alt="Logo"/>
    <div id="menu1">
        <ul id="supnav">
            <li><a href="/index/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li class="active"><a><span class="glyphicon glyphicon-search"></span>Search<span class="caret"></span></a>
                <div class="browse" id="search">
                    <a href="/datasetSearch/">Transcriptome data Search</a>
                    <a href="/geneSearch/">Gene Search</a>
                    <a href="/methylationSearch/">Methylation data Search</a>
                </div>
            </li>
            <li><a href="/upload/"><span class="glyphicon glyphicon-cloud-upload"></span>Analyse</a></li>
            <li><a href="/help/"><span class="glyphicon glyphicon-file"></span>Help</a></li>
            <li><a><span class="glyphicon glyphicon-download-alt"></span>Download<span class="caret"></span></a>
                <div class="browse">
                    <a href="/download/">Transcriptome results</a>
                    <a href="/methylationdownload/">Methylation results</a>
                </div>
            </li>
            <li><a href="/contact/"><span class="glyphicon glyphicon-earphone"></span>Contact us</a></li>
        </ul>
    </div>
</div>
<div class="container" id="background">
    <h1>Analysis Results of {{ gene }} in {{ c_upper }}</h1>
{#        <div class="{% if data4 %}show{% else %}hidden{% endif %}" style="margin-top: -30px">#}
    <div>
        <div class="title">The homologene of mouse gene {{ gene }}
            ( The data is sourced from the NCBI HomoloGene database )
        </div>
        {% if data %}
            <table class="Homologous_table">
                <thead>
                <tr>
                    <th>Human gene</th>
                    <th>Homologous mouse gene</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th><a id="human_gene_name">{{ gene }}</a></th>
                    <th><a id="mouse_gene_name">{{ homologene_mouse }}</a></th>
                </tr>
                </tbody>
            </table>

        {% else %}
            <div class="text">No homologene was found in NCBI HomoloGene database for {{ homologene_human }} gene.</div>
        {% endif %}
    </div>

    <div class="title">The correlation between {{ homologene_human }} gene and addictive drugs
    ( The data is sourced from the CTD )</div>
    <div id="ctd_histogram" style="width: 800px;height: 500px;text-align: center;margin: auto;"
         class="{% if data5 or data6 or data7 %}show{% else %}hidden{% endif %}"></div>
    <div class="text {% if data5 or data6 or data7 %}hidden{% else %}show{% endif %}">
        {{ homologene_human }} gene was not found to be associated with addictive drugs in CTD.
    </div>

    <div class="title">Literature on {{ homologene_human }} gene and {{ a }}
    ( The data is sourced from the CTD )</div>
    <div style="width: 1250px;text-align: center;margin: auto;"
         class="{% if data8 %}show{% else %}hidden{% endif %}">
        <table id="literature_table">
            <thead>
            <tr>
                <th>Organism</th>
                <th>Interaction</th>
                <th>InteractionActions</th>
                <th>PubMedIDs</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in data8 %}
                <tr class="pubmed_text">
                    {% for obj2 in obj %}
                        <th>{{ obj2 }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="text {% if data8 %}hidden{% else %}show{% endif %}">
        No relevant literature on {{ homologene_human }} gene and {{ a }} was found in CTD.
    </div>
</div>
<div id="footer">Copyright © College of Bioinformatics Science and Technology，Harbin Medical University</div>
<script type="text/javascript">

    $(function () {
        $('#mouse_gene_name').css('cursor', 'pointer');
        $('#mouse_gene_name').click(function () {
            var href_data = 'https://www.ncbi.nlm.nih.gov/gene/' + {{mouse_ID}}
            $('#mouse_gene_name').attr("href", href_data);
        })
        $('#human_gene_name').css('cursor', 'pointer');
        $('#human_gene_name').click(function () {
            var href_data = 'https://www.ncbi.nlm.nih.gov/gene/' + {{human_ID}}
            $('#human_gene_name').attr("href", href_data);
        })

        $('#literature_table tbody tr th:last-child').css("color", "#337ab7");
        $('#literature_table tbody tr th:last-child').css('cursor', 'pointer');
        $('#literature_table tbody tr th:last-child').click(function () {
            var pubmed_id = $(this).text();
            var href_data = 'https://pubmed.ncbi.nlm.nih.gov/' + pubmed_id
            $(location).attr("href", href_data);
        });

        $("#literature_table tbody tr th").each(function () {
            var originalText = $(this).text(); // 获取单元格文本
            var newText = originalText.replace(/\|/g, "<br>"); // 使用<br>换行符替换|
            $(this).html(newText); // 设置新的HTML内容
        });

        var supnav = document.getElementById("supnav");
        var nav = document.getElementById("menu1");
        var btns = nav.getElementsByTagName("li");
        var subnavs = nav.getElementsByTagName("div");
        var paddingbottom = 20;
        var defaultHeight = 0;
    })

    {#禁用回车键#}
    document.onkeydown = function (e) {
        //捕捉回车事件
        var ev = (typeof event != 'undefined') ? window.event : e;
        if (ev.keyCode == 13 || event.which == 13) {
            return false;
        }
    }

    function drop(obj, ivalue) {
        var a = obj.offsetHeight;
        var speed = (ivalue - obj.offsetHeight) / 8;
        a += Math.floor(speed);
        obj.style.height = a + "px";
    }

    $('#menu1').ready(
        function () {
            var i = 1;
            btns[i].index = i;
            btns[i].onmouseover = function () {
                var osubnav = subnavs[0];
                var sublinks = osubnav.getElementsByTagName("a");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, itarheight);
                    },
                    30);
            };
            btns[i].onmouseout = function () {
                var osubnav = subnavs[0];
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            };
        }
    );

    $('#menu1').ready(
        function () {
            var i = 4;
            btns[i].index = i;
            btns[i].onmouseover = function () {
                var osubnav = subnavs[1];
                var sublinks = osubnav.getElementsByTagName("a");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, itarheight);
                    },
                    30);
            };
            btns[i].onmouseout = function () {
                var osubnav = subnavs[1];
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            };
        }
    );


    /**
     * CTD得分
     */
    var chart = Highcharts.chart('ctd_histogram', {
        chart: {
            type: 'bar'
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Correlation score between genes and drug addiction'
        },
        subtitle: {
            text: 'Data source: CTD'
        },
        xAxis: {
            categories: ['Inference Score', 'Reference Count'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'score',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true,
                    allowOverlap: true // 允许数据标签重叠
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 200,
            floating: false,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        series: [{
            name: 'cocaine',
            data: {{ cocaine_list }}
        }, {
            name: 'morphine',
            data: {{ heroin_list }}
        }, {
            name: 'heroin',
            data: {{ morphine_list }}
        }, {
            name: 'amphetamine',
            data: {{ amphetamine_list }}
        }, {
            name: 'cannabis',
            data: {{ cannabis_list }}
        }, {
            name: 'ethanol',
            data: {{ ethanol_list }}
        }, {
            name: 'nicotine',
            data: {{ nicotine_list }}
        }]
    });
</script>
<script src="http://127.0.0.1:8000/static/js/browse_Menu.js"></script>
</body>
</html>