<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gene_Search</title>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/global.css"/>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/echarts.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            background-color: transparent;
            width: 100%;
            max-width: 100%;
        }

        th {
            border: 1px solid #ddd !important;
            text-align: center;
            height: 50px;
            line-height: 50px;
            font-size: 15px;
        }

        #search_result, #pagination {
            display: none;
        }

        select {
            text-align-last: center;
            font-weight: bold;
        }

        .search-content {
            height: 600px;
        }

        .search-box-first {
            width: 600px;
            display: block;
            height: 36px;
            margin: 70px auto;
            text-align: center;
            font-size: 15px;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
        }

        .Search-prompt-information {
            margin: 0 auto -40px auto;
            text-align: center;
            font-size: 20px;
        }

        .drug-text {
            margin-top: 80px;
        }

        .search-box {
            float: left;
            width: 320px;
            display: block;
            height: 36px;
            margin: 15px 0 15px 0;
            font-size: 15px;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
        }

        .input_result{
            display: flex;
            justify-content: center;
        }

        .dataset{
            margin-right: 100px;
        }

        .search_button-first {
            float: right;
            margin: 0 80px 0 0;
            height: 60px;
            width: 60px;
        }

        .search_button {
            height: 36px;
            margin: 15px 0 15px 30px;
        }

        .title {
            width: 1200px;
            margin: 25px auto;
            padding: 0 50px;
            height: 36px;
            font-size: 17px;
            font-weight: bold;
            line-height: 36px;
            background-image: linear-gradient(#d5e4f7, #f9fafb);
            border: 1px solid #cdc5bf;
            border-radius: 13px;
        }

        #DMP{
            width: 800px;
            margin: auto;
        }

        #DMR{
            width: 400px;
            margin: auto;
        }

        .notext {
            font-size: 24px;
            margin: 50px auto;
            text-align: center;
            font-weight: bold;
        }

        h1 {
            font-size: 25px;
            text-align: center;
            font-weight: bold;
        }

        #navigation {
            z-index: 1000; /* 设置较高的z-index值，确保导航栏在上层显示 */
            padding: 0;
            position: fixed;
            top: 50%; /* 垂直居中 */
            right: 25px;
            transform: translateY(-50%); /* 竖直居中 */
            width: 210px;
            border: 1px solid #736d73;
            border-radius: 10px;
        }

        #navigation li {
            list-style: none;
            margin: 10px 0;
            padding: 0;
        }

        #navigation a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            display: block;
            transition: color 0.3s;
            font-size: 20px;
            text-align: center;
            width: 210px;
        }

        #navigation button{
            height: 50px;
            background-color: white;
            border-radius: 5px;
            border: none;
        }

        #navigation a:hover {
            font-size: 27px;
            color: #0070c9;
        }

        .analyse_results{
            color: #3c763d;
        }

        .glyphicon-th-list {
            margin: 3px 0 0 20px;
            font-size: 16px;
        }

        .info-box {
            position: absolute;
            background-color: #ffffff;
            border: 1px solid #ccc;
            padding: 10px;
            display: none;
        }

    </style>
</head>
<body>
<div id="head">
    <img src="../static/img/logo.png" alt="Logo"/>
    <div id="menu1">
        <ul id="supnav">
            <li><a href="/index/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li class="active"><a><span class="glyphicon glyphicon-search"></span>Search<span class="caret"></span></a>
                <div class="browse" id="search">
                    <a href="/datasetSearch/">Transcriptome data Search</a>
                    <a href="/geneSearch/">Gene Search</a>
                    <a href="/methylationSearch/">Methylation data Search</a>
                </div>
            </li>
            <li><a href="/upload/"><span class="glyphicon glyphicon-cloud-upload"></span>Analyse</a></li>
            <li><a href="/help/"><span class="glyphicon glyphicon-file"></span>Help</a></li>
            <li><a><span class="glyphicon glyphicon-download-alt"></span>Download<span class="caret"></span></a>
                <div class="browse">
                    <a href="/download/">Transcriptome results</a>
                    <a href="/methylationdownload/">Methylation results</a>
                </div>
            </li>
            <li><a href="/contact/"><span class="glyphicon glyphicon-earphone"></span>Contact us</a></li>
        </ul>
    </div>
</div>
<div class="container" id="background">
    {#    <div style="margin: 28px auto;text-align: center;" id="background">#}
    <div class="{% if search_data1 %}{% else %}search-content{% endif %}">
        <form method="get">
            <div class="input-group {% if search_data1 %}input_result{% endif %}">
                <div class="Search-prompt-information drug-text" {% if search_data1 %}hidden{% endif %}>Choose an
                    addictive drug
                </div>
                <select id="drug" name="a"
                        class="{% if search_data1 %}search-box{% else %}search-box-first{% endif %}"
                        value="{{ search_data1 }}" onchange="loadArea()">
                </select>
                <div class="Search-prompt-information" {% if search_data1 %}hidden{% endif %}>Choose a tissue / cell
                </div>
                <select id="area" name="b" class="{% if search_data1 %}search-box{% else %}search-box-first{% endif %}"
                        value="{{ search_data2 }}" onchange="loadDataset()">
                </select>
                <div class="Search-prompt-information" {% if search_data1 %}hidden{% endif %}>Choose the corresponding
                    dataset
                </div>
                <select id="dataset" name="c"
                        class="{% if search_data1 %}search-box dataset{% else %}search-box-first{% endif %}"
                        value="{{ search_data3 }}">
                </select>

                <span class="input-group-btn">
                        <button class="btn btn-default {% if search_data1 %}search_button{% else %}search_button-first{% endif %}"
                                type="submit" id="search_button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
            </div>
        </form>
    </div>
    <div class="{% if search_data1 %}show{% else %}hidden{% endif %}">
        <h1>Analysis Results of <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc={{ search_data3 }}">{{ search_data3 }}</a> Dataset</h1>
        <ul id="navigation">
            <li><a href="#DMPs_Section"><button>DMPs</button></a></li>
            <li><a href="#DMRs_Section"><button>DMRs</button></a></li>
            <li><a href="#Volcano_Section"><button>Volcano map</button></a></li>
            <li><a href="#go_Section"><button>GO term</button></a></li>
            <li><a href="#kegg_Section"><button>KEGG pathway</button></a></li>
        </ul>
        <div id="DMPs_Section" class="title">Differential Methylation Positions</div>
        <table id="DMP">
            <thead>
            <tr>
                <th>Significance threshold</th>
                <th>|deltaBeta|>0.05</th>
                <th>|deltaBeta|>0.1</th>
                <th>|deltaBeta|>0.2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>P<0.05</th>
                <th><a id="n11_results" class="analyse_results">{{ n11 }}</a><a id="n11" class="analyse_list"><span
                        class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></th>
                <th><a id="n12_results" class="analyse_results">{{ n12 }}</a><a id="n12" class="analyse_list"><span
                        class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></th>
                <th><a id="n13_results" class="analyse_results">{{ n13 }}</a><a id="n13" class="analyse_list"><span
                        class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></th>
            </tr>
            <tr>
                <th>P<0.01</th>
                <th><a id="n21_results" class="analyse_results">{{ n21 }}</a><a id="n21" class="analyse_list"><span
                        class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></th>
                <th><a id="n22_results" class="analyse_results">{{ n22 }}</a><a id="n22" class="analyse_list"><span
                        class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></th>
                <th><a id="n23_results" class="analyse_results">{{ n23 }}</a><a id="n23" class="analyse_list"><span
                        class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></th>
            </tr>
            </tbody>
        </table>
        <div class="info-box" id="info-box1">Click this icon to view a detailed list of differential methylation positions
            </div>
            <div class="info-box" id="info-box2">Click to view detailed analysis results for this threshold</div>
        <div id="DMRs_Section" class="title">Differential Methylation Regions</div>
        <table id="DMR">
            <thead>
            <tr>
                <th>Method</th>
                <th>Number</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>ProbeLasso</th>
                <th><a id="ProbeLasso">{{ ProbeLasso_lenth }}</a></th>
            </tr>
            </tbody>
        </table>
        <div id="Volcano_Section" class="title">Volcano Plot of Differential Methylation Probes with
            pvalue < {% if p %}{{ p }}{% else %}0.05{% endif %} and | deltaBeta | > {% if deltaBeta %}{{ deltaBeta }}{% else %}0.05{% endif %}</div>
        <img src="{{ volcano_plot_base64 }}" alt="Volcano plot"
             style="height: 660px;width: 1000px;margin: 0 0 20px 200px;"/>

    {#    富集分析   #}
        <div id="go_Section" class="title">GO Enrichment Analysis of Differential Methylation Probes（methylGSA）
            with  pvalue < {% if p %}{{ p }}{% else %}0.05{% endif %} and | deltaBeta | > {% if deltaBeta %}{{ deltaBeta }}{% else %}0.05{% endif %}</div>
        <div id="goBubble" style="width: 1130px;height: 1000px;text-align: center;margin: -50px 0 -80px 0;" {% if go_bp %}show{% else %}hidden{% endif %}></div>
        <div class="notext" {% if go_bp %}hidden{% else %}show{% endif %}>No GO function was enriched.</div>
        <div id="kegg_Section" class="title">KEGG Enrichment Analysis of Differential Methylation Probes（methylGSA）
            with pvalue < {% if p %}{{ p }}{% else %}0.05{% endif %} and | deltaBeta | > {% if deltaBeta %}{{ deltaBeta }}{% else %}0.05{% endif %}</div>
        <div id="keggBubble" style="width: 1130px;height: 500px;text-align: center;"
             class="Search-results" {% if kegg %}show{% else %}hidden{% endif %}></div>
        <div class="notext" {% if kegg %}hidden{% else %}show{% endif %}>No KEGG pathway was enriched.</div>
    </div>
</div>
<div id="footer">Copyright © College of Bioinformatics Science and Technology，Harbin Medical University</div>
<script src="http://127.0.0.1:8000/static/js/browse_Menu.js"></script>
<script>
    $(function () {
        loadDrug();
        $('#n11').css('cursor', 'pointer');
        $('#n12').css('cursor', 'pointer');
        $('#n13').css('cursor', 'pointer');
        $('#n21').css('cursor', 'pointer');
        $('#n22').css('cursor', 'pointer');
        $('#n23').css('cursor', 'pointer');
        $('#Bumhunter').css('cursor', 'pointer');
        $('#ProbeLasso').css('cursor', 'pointer');
        $('#n11').click(function () {
            var href_data = 'DMP/?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.05&deltaBeta=0.05'
            $('#n11').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        $('#n12').click(function () {
            var href_data = 'DMP/?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.05&deltaBeta=0.1'
            $('#n12').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        $('#n13').click(function () {
            var href_data = 'DMP/?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.05&deltaBeta=0.2'
            $('#n13').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        $('#n21').click(function () {
            var href_data = 'DMP/?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.01&deltaBeta=0.05'
            $('#n21').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        $('#n22').click(function () {
            var href_data = 'DMP/?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.01&deltaBeta=0.1'
            $('#n22').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        $('#n23').click(function () {
            var href_data = 'DMP/?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.01&deltaBeta=0.2'
            $('#n23').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })

        $('#n11_results').css('cursor', 'pointer');
        $('#n12_results').css('cursor', 'pointer');
        $('#n13_results').css('cursor', 'pointer');
        $('#n21_results').css('cursor', 'pointer');
        $('#n22_results').css('cursor', 'pointer');
        $('#n23_results').css('cursor', 'pointer');
        $('#n11_results').click(function () {
            var href_data = '?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.05&deltaBeta=0.05'
            $('#n11_results').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        if (0{{ n11 }} == 0) {
            $('#n11_results').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n11_results').css("color", "grey");
            $("#n11_results").removeClass();
            $('#n11').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n11').css("color", "grey");
            $("#n11").removeClass();
        }

        $('#n12_results').click(function () {
            var href_data = '?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.05&deltaBeta=0.1'
            $('#n12_results').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        if (0{{ n12 }} == 0) {
            $('#n12_results').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n12_results').css("color", "grey");
            $("#n12_results").removeClass();
            $('#n12').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n12').css("color", "grey");
            $("#n12").removeClass();
        }

        $('#n13_results').click(function () {
            var href_data = '?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.05&deltaBeta=0.2'
            $('#n13_results').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        if (0{{ n13 }} == 0) {
            $('#n13_results').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n13_results').css("color", "grey");
            $("#n13_results").removeClass();
            $('#n13').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n13').css("color", "grey");
            $("#n13").removeClass();
        }

        $('#n21_results').click(function () {
            var href_data = '?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.01&deltaBeta=0.05'
            $('#n21_results').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        if (0{{ n21 }} == 0) {
            $('#n21_results').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n21_results').css("color", "grey");
            $("#n21_results").removeClass();
            $('#n21').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n21').css("color", "grey");
            $("#n21").removeClass();
        }

        $('#n22_results').click(function () {
            var href_data = '?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.01&deltaBeta=0.1'
            $('#n22_results').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        if (0{{ n22 }} == 10) {
            $('#n22_results').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n22_results').css("color", "grey");
            $("#n22_results").removeClass();
            $('#n22').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n22').css("color", "grey");
            $("#n22").removeClass();
        }

        $('#n23_results').click(function () {
            var href_data = '?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&p=0.01&deltaBeta=0.2'
            $('#n23_results').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })
        if (0{{ n23 }} == 0) {
            $('#n23_results').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n23_results').css("color", "grey");
            $("#n23_results").removeClass();
            $('#n23').click(function (event) {
                event.preventDefault();
                // 这里可以添加你的自定义操作，而不会跳转到链接的URL
            });
            $('#n23').css("color", "grey");
            $("#n23").removeClass();
        }

        {#提示信息#}
        var triggerElement1 = $('.analyse_list');
        var infoBox1 = $('#info-box1');
        // 在鼠标移动事件中更新提示框位置
        triggerElement1.mousemove(function (event) {
            var mouseX = event.pageX;
            var mouseY = event.pageY;

            var infoBoxWidth = infoBox1.width();
            var infoBoxHeight = infoBox1.height();

            // 设置提示框的位置，例如，在鼠标正下方偏下一些
            var infoBoxLeft = mouseX - 100;
            var infoBoxTop = mouseY + 20; // 偏下10像素

            infoBox1.css({
                left: infoBoxLeft + 'px',
                top: infoBoxTop + 'px',
                position: 'absolute',
            });
        });

        // 鼠标移入事件
        triggerElement1.mouseenter(function () {
            infoBox1.show();
        });

        // 鼠标移出事件
        triggerElement1.mouseleave(function () {
            infoBox1.hide();
        });


        {#提示信息#}
        var triggerElement2 = $('.analyse_results');
        var infoBox2 = $('#info-box2');
        // 在鼠标移动事件中更新提示框位置
        triggerElement2.mousemove(function (event) {
            var mouseX = event.pageX;
            var mouseY = event.pageY;

            var infoBoxWidth = infoBox2.width();
            var infoBoxHeight = infoBox2.height();

            // 设置提示框的位置，例如，在鼠标正下方偏下一些
            var infoBoxLeft = mouseX - 100;
            var infoBoxTop = mouseY + 20; // 偏下10像素

            infoBox2.css({
                left: infoBoxLeft + 'px',
                top: infoBoxTop + 'px',
                position: 'absolute',
            });
        });

        // 鼠标移入事件
        triggerElement2.mouseenter(function () {
            infoBox2.show();
        });

        // 鼠标移出事件
        triggerElement2.mouseleave(function () {
            infoBox2.hide();
        });

        $('#ProbeLasso').click(function () {
            var href_data = 'DMR/?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method=ProbeLasso'
            $('#ProbeLasso').attr("href", href_data);
            $.get("/search/", {'href_data': href_data});
        })

        keggBubblePlot();
        goBubblePlot();

        var supnav = document.getElementById("supnav");
        var nav = document.getElementById("menu1");
        var btns = nav.getElementsByTagName("li");
        var subnavs = nav.getElementsByTagName("div");
        var paddingbottom = 20;
        var defaultHeight = 0;

        $('#navigation a').on('click', function (event) {
            var target = $($(this).attr('href'));
            event.preventDefault();
            var target = $(this).attr("href");
            $("html, body").animate({
                scrollTop: $(target).offset().top
            }, 500); // 滚动动画持续时间
        });

    })

    function drop(obj, ivalue) {
        var a = obj.offsetHeight;
        var speed = (ivalue - obj.offsetHeight) / 8;
        a += Math.floor(speed);
        obj.style.height = a + "px";
    }

    $('#menu1').ready(
        function () {
            var i = 1;
            btns[i].index = i;
            btns[i].onmouseover = function () {
                var osubnav = subnavs[0];
                var sublinks = osubnav.getElementsByTagName("a");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, itarheight);
                    },
                    30);
            };
            btns[i].onmouseout = function () {
                var osubnav = subnavs[0];
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            };
        }
    );

    $('#menu1').ready(
        function () {
            var i = 4;
            btns[i].index = i;
            btns[i].onmouseover = function () {
                var osubnav = subnavs[1];
                var sublinks = osubnav.getElementsByTagName("a");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, itarheight);
                    },
                    30);
            };
            btns[i].onmouseout = function () {
                var osubnav = subnavs[1];
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            };
        }
    );

    function loadDrug() {
        loadSearch(0, 'drug', loadArea);
    }

    function loadArea() {
        loadSearch($('#drug option:selected').attr('id'), 'area', loadDataset);
    }

    function loadDataset() {
        loadSearch($('#area option:selected').attr('id'), 'dataset');
    }

    function loadSearch(pid, selectID, nextLoad) {
        $('#' + selectID).empty();
        $.get('/getMethylationInfo/', {'pid': pid}, function (result) {
            var searchList = JSON.parse(result.jareaList);
            for (var i = 0; i < searchList.length; i++) {
                var sear = searchList[i];
                $('#' + selectID).append("<option id='" + sear.pk + "' value='" + sear.fields.areaname + "'>" + sear.fields.areaname + "</option>");
            }
            if (nextLoad != null) {
                nextLoad();
            }
        });
    }


    {#富集分析GO气泡图#}

    function goBubblePlot() {
        var myChart1 = echarts.init(document.getElementById('goBubble'));
        const dataBP = [{% for go1 in BP_list %}{{ go1|safe }}, {% endfor %}];
        const dataCC = [{% for go2 in CC_list %}{{ go2|safe }}, {% endfor %}];
        const dataMF = [{% for go3 in MF_list %}{{ go3|safe }}, {% endfor %}];
        const schema = [
            {name: 'Name', index: 0, text: 'GO term'},
            {name: 'Genecount', index: 1, text: 'Count'},
            {name: 'pvalue', index: 2, text: 'pvalue'},
            {name: 'Accession', index: 3, text: 'ID'}
        ];
        const itemStyle = {
            opacity: 0.8,
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowOffsetY: 0,
            shadowColor: 'rgba(0,0,0,0.3)'
        };
        var option = {
            color: ['#dd4444', '#fec42c', '#80F1BE'],
            legend: {
                top: 105,
                data: ['BP', 'CC', 'MF'],
                textStyle: {
                    fontSize: 20
                }
            },
            grid: {
                left: '5%',
                right: 150,
                top: '18%',
                containLabel: true,
                bottom: '10%'
            },
            tooltip: {
                backgroundColor: 'rgba(255,255,255,0.7)',
                confine: true,
                formatter: function (param) {
                    var value = param.value;
                    // prettier-ignore
                    return '<div style="width: 600px; white-space: pre-wrap; word-break: break-all">' +
                        '<div style="border-bottom: 1px solid rgba(255,255,255,.3);font-weight: bold; font-size: 18px;padding-bottom: 7px;margin: 7px 0 -8px 0">'
                        + schema[0].text + '：' + value[1] + '<br>'
                        + '</div>'
                        + schema[1].text + '：' + value[0] + '<br>'
                        + schema[2].text + '：' + value[2] + '<br>'
                        + schema[3].text + '：' + value[3]
                        + '</div>';
                },
                {#extraCssText:'width:650px; white-space: pre-wrap; word-break: break-word;'#}
            },
            title: {
                show: true,//false
                text: "The Most Enriched GO Terms",//主标题文本
                left: 'center', // 标题居中
                top: 60, // 距离上边框20像素
                textStyle: {
                    {#color: '#ccc',//'red'，字体颜色#}
                    fontStyle: 'normal',//'italic'(倾斜) | 'oblique'(倾斜体) ，字体风格
                    fontWeight: 'normal',//'bold'(粗体) | 'bolder'(粗体) | 'lighter'(正常粗细) ，字体粗细
                    fontFamily: 'sans-serif',//'sans-serif' | 'serif' | 'monospace' | 'Arial' | 'Courier New'
                    fontSize: 30,//字体大小
                    lineHeight: 18,//字体行高
                }
            },
            xAxis: {
                type: 'value',
                name: 'Gene Number',
                max: {{ GO_count_max }}+1,
                min: {{ GO_count_min }}-1,
                nameGap: 16,
                nameTextStyle: {
                    fontSize: 16
                },
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'category',
                data: [{% for go4 in GO_name %}'{{ go4 }}',{% endfor %}],
                name: 'GO term',
                nameLocation: 'end',
                triggerEvent: true,
                nameGap: 10,
                nameTextStyle: {
                    fontSize: 16
                },
                splitLine: {
                    show: true
                }
            },
            visualMap: [
                {
                    left: 'right',
                    top: '25%',
                    dimension: 0,
                    max: {{ GO_count_max }}+0,
                    min: {{ GO_count_min }}+0,
                    itemWidth: 30,
                    itemHeight: 120,
                    calculable: true,
                    precision: 0.1,
                    text: ['Count'],
                    textGap: 10,
                    inRange: {
                        symbolSize: [10, 38]
                    },
                    outOfRange: {
                        symbolSize: [10, 38],
                        color: ['rgba(255,255,255,0.4)']
                    },
                    controller: {
                        inRange: {
                            color: ['#c23531']
                        },
                        outOfRange: {
                            color: ['#999']
                        }
                    }
                },
                {
                    left: 'right',
                    bottom: '25%',
                    dimension: 2,
                    max: {{ GO_padjust_max }}+0,
                    min: {{ GO_padjust_min }}+0,
                    itemHeight: 120,
                    precision: 20,
                    text: ['pvalue'],
                    textGap: 10,
                    inRange: {
                        colorLightness: [0.5, 0.9]
                    },
                    outOfRange: {
                        color: ['rgba(255,255,255,0.4)']
                    },
                    controller: {
                        inRange: {
                            color: ['#c23531']
                        },
                        outOfRange: {
                            color: ['#999']
                        }
                    }
                }
            ],
            series: [
                {
                    name: 'BP',
                    type: 'scatter',
                    itemStyle: itemStyle,
                    data: dataBP
                },
                {
                    name: 'CC',
                    type: 'scatter',
                    itemStyle: itemStyle,
                    data: dataCC
                },
                {
                    name: 'MF',
                    type: 'scatter',
                    itemStyle: itemStyle,
                    data: dataMF
                }
            ]
        };
        myChart1.setOption(option);
        myChart1.on('click', function (e) {
            if (e.componentType == 'yAxis'){
                var go_name = e.value;
            }else if (e.componentType == 'series'){
                var go_name = e.data[1];
            }
            var go_list = [{{ GO_list|safe }}];
            var go_id;
            for (let i in go_list[0]) {
                if (go_list[0][i][1] == go_name) {
                    go_id = go_list[0][i][3]
                }
            }
            window.location.href = 'https://amigo.geneontology.org/amigo/term/' + go_id;
        })
    }

    {#富集分析KEGG气泡图#}

    function keggBubblePlot() {
        var myChart2 = echarts.init(document.getElementById('keggBubble'));
        const dataBJ = [{% for obj1 in kegg_list %}{{ obj1|safe }}, {% endfor %}];
        const schema = [
            {name: 'Pathwayname', index: 0, text: 'Pathway'},
            {name: 'Genecount', index: 1, text: 'Count'},
            {name: 'pvalue', index: 2, text: 'pvalue'},
            {name: 'Accession', index: 3, text: 'ID'}
        ];
        const itemStyle = {
            opacity: 0.8,
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowOffsetY: 0,
            shadowColor: 'rgba(0,0,0,0.3)'
        };
        var option = {
            color: ['#dd4444'],
            grid: {
                left: '5%',
                right: 150,
                top: '18%',
                containLabel: true,
                bottom: '10%'
            },
            tooltip: {
                backgroundColor: 'rgba(255,255,255,0.7)',
                confine: true,
                formatter: function (param) {
                    var value = param.value;
                    // prettier-ignore
                    return '<div style="width: 600px; white-space: pre-wrap; word-break: break-all">' +
                        '<div style="border-bottom: 1px solid rgba(255,255,255,.3);font-weight: bold; font-size: 18px;padding-bottom: 7px;margin: 7px 0 -8px 0">'
                        + schema[0].text + '：' + value[1] + '<br>'
                        + '</div>'
                        + schema[1].text + '：' + value[0] + '<br>'
                        + schema[2].text + '：' + value[2] + '<br>'
                        + schema[3].text + '：' + value[3]
                        + '</div>';
                },
            },
            title: {
                show: true,//false
                text: "KEGG Pathways Enrichment",//主标题文本
                left: 'center', // 标题居中
                top: 10, // 距离上边框20像素
                textStyle: {
                    {#color: '#ccc',//'red'，字体颜色#}
                    fontStyle: 'normal',//'italic'(倾斜) | 'oblique'(倾斜体) ，字体风格
                    fontWeight: 'normal',//'bold'(粗体) | 'bolder'(粗体) | 'lighter'(正常粗细) ，字体粗细
                    fontFamily: 'sans-serif',//'sans-serif' | 'serif' | 'monospace' | 'Arial' | 'Courier New'
                    fontSize: 30,//字体大小
                    lineHeight: 18,//字体行高
                }
            },
            xAxis: {
                type: 'value',
                name: 'Gene Number',
                max: {{ kegg_count_max }}+1,
                min: {{ kegg_count_min }}-1,
                nameGap: 16,
                nameTextStyle: {
                    fontSize: 16
                },
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'category',
                data: [{% for obj1 in kegg_name %}'{{ obj1 }}',{% endfor %}],
                name: 'Pathway',
                triggerEvent: true,
                nameLocation: 'end',
                nameGap: 10,
                nameTextStyle: {
                    fontSize: 16
                },
                splitLine: {
                    show: true
                }
            },
            visualMap: [
                {
                    left: 'right',
                    top: '12%',
                    dimension: 0,
                    max: {{ kegg_count_max }}+0,
                    min: {{ kegg_count_min }}+0,
                    itemWidth: 30,
                    itemHeight: 120,
                    calculable: true,
                    precision: 0.1,
                    text: ['Count'],
                    textGap: 10,
                    inRange: {
                        symbolSize: [10, 38]
                    },
                    outOfRange: {
                        symbolSize: [10, 38],
                        color: ['rgba(255,255,255,0.4)']
                    },
                    controller: {
                        inRange: {
                            color: ['#dd4444']
                        },
                        outOfRange: {
                            color: ['#999']
                        }
                    }
                },
                {
                    left: 'right',
                    bottom: '20%',
                    dimension: 2,
                    // max: 0.00309255,
                    // min: 6.66E-11,
                    max: {{ kegg_pvalue_max }}+0,
                    min: {{ kegg_pvalue_min }}+0,
                    itemHeight: 120,
                    precision: 20,
                    text: ['pvalue'],
                    textGap: 10,
                    inRange: {
                        // colorLightness: [1.34E-09, 2.6314036595041E-13]
                        colorLightness: [0.5, 0.9]
                    },
                    outOfRange: {
                        color: ['rgba(255,255,255,0.4)']
                    },
                    controller: {
                        inRange: {
                            color: ['#dd4444']
                        },
                        outOfRange: {
                            color: ['#999']
                        }
                    }
                }
            ],
            series: [
                {
                    type: 'scatter',
                    itemStyle: itemStyle,
                    data: dataBJ
                }
            ]
        };
        myChart2.setOption(option);
        myChart2.on('click', function (e) {
            if (e.componentType == 'yAxis'){
                var kegg_name = e.value;
            }else if (e.componentType == 'series'){
                var kegg_name = e.data[1];
            }
            var kegg_list = [{{ kegg_list|safe }}];
            {#var kegg_list = [{% for kegg_list1 in kegg_list %}'{{ kegg_list1|safe }}',{% endfor %}];#}
            var kegg_id;
            {#for(i=0;i<=length(kegg_list);i++){#}
            {#    console.log(kegg_list[1])}#}
            for (let i in kegg_list[0]) {
                {#console.log(kegg_list[0][i][1])#}
                if (kegg_list[0][i][1] == kegg_name) {
                    kegg_id = kegg_list[0][i][3]
                }
            }
            window.location.href = 'https://www.kegg.jp/entry/map' + kegg_id;
            {#window.location.href = 'https://www.kegg.jp/pathway/'+ kegg_id;#}
        })
    }
</script>
</body>
</html>