<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gene_Search</title>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/global.css"/>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            background-color: transparent;
            width: 100%;
            max-width: 100%;
        }

        th {
            border: 1px solid #ddd !important;
            text-align: center;
            height: 50px;
            line-height: 50px;
            font-size: 15px;
            white-space: pre-line;
        }

        #search_result, #pagination {
            display: none;
        }

        select {
            text-align-last: center;
            font-weight: bold;
        }

        .search-content {
            height: 600px;
        }

        .search-box-first {
            width: 600px;
            display: block;
            height: 36px;
            margin: 70px auto;
            text-align: center;
            font-size: 15px;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
        }

        .Search-prompt-information {
            margin: 0 auto -40px auto;
            text-align: center;
            font-size: 20px;
        }

        .drug-text {
            margin-top: 80px;
        }

        .search-box {
            float: left;
            width: 320px;
            display: block;
            height: 36px;
            margin: 15px 0 15px 0;
            font-size: 15px;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
        }

        .drug {
            margin-left: 170px;
        }


        .search_button-first {
            margin: 0 80px 0 0;
            height: 60px;
            width: 60px;
        }

        .search_button {
            height: 36px;
            margin: 15px 170px 15px 0;
        }
        
        #ProbeLasso_table span{

        }

    </style>
</head>
<body>
<div id="head">
    <img src="http://127.0.0.1:8000/static/img/logo.png" alt="Logo"/>
    <div id="menu1">
        <ul id="supnav">
            <li><a href="/index/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li class="active"><a><span class="glyphicon glyphicon-search"></span>Search<span class="caret"></span></a>
                <div class="browse" id="search">
                    <a href="/datasetSearch/">Transcriptome data Search</a>
                    <a href="/geneSearch/">Gene Search</a>
                    <a href="/methylationSearch/">Methylation data Search</a>
                </div>
            </li>
            <li><a href="/upload/"><span class="glyphicon glyphicon-cloud-upload"></span>Analyse</a></li>
            <li><a href="/help/"><span class="glyphicon glyphicon-file"></span>Help</a></li>
            <li><a><span class="glyphicon glyphicon-download-alt"></span>Download<span class="caret"></span></a>
                <div class="browse">
                    <a href="/download/">Transcriptome results</a>
                    <a href="/methylationdownload/">Methylation results</a>
                </div>
            </li>
            <li><a href="/contact/"><span class="glyphicon glyphicon-earphone"></span>Contact us</a></li>
        </ul>
    </div>
</div>
<div class="container" id="background">
    {#    <div style="margin: 28px auto;text-align: center;" id="background">#}
    <span style="line-height:50px;font-size: 16px">Differential methylation regions: {{ search_data1 }}_{{ search_data2 }}_{{ search_data3 }}</span>
    <div style="float: right;width: 200px;margin: 8px auto">
        <form method="get">
            <div class="input-group">
                <input type="text" name="filter" class="form-control" placeholder="seqnames:chr1"
                       {% if search_data0 %}value="{{ search_data0 }}{% endif %}">

                <span class="input-group-btn">
                        <a id="filter"><button id="filter_search_button" class="btn btn-default submit" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button></a>
                      </span>

            </div>
        </form>
    </div>

        <!-- Table -->
    <table id="ProbeLasso_table">
        <thead>
        <tr>
            <th>dmrChrom</th>
            <th>dmrP</th>
            <th>dmrpRank</th>
            <th>dmrStart</th>
            <th>dmrEnd</th>
            <th>dmrSize</th>
            <th>dmrCoreStart</th>
            <th>dmrCoreEnd</th>
            <th>dmrCoreSize</th>
            <th>ensemblID</th>
            <th>geneSymbol</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in current_page %}
            <tr>
                {% for obj2 in obj %}
                    <th>{{ obj2 }}</th>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <nav aria-label="Page navigation" class="{% if data %}show{% endif %}" id="pagination">
        <ul class="pagination">
            {#              上一页#}
            {% if current_page.has_previous %}
                <li>
                    <a id="First" {% if search_data0 %}href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&filter={{ search_data0 }}&page=1"{% endif %}
                       href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&page=1"
                       aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>
                <li>
                    <a id="Previous" {% if search_data0 %}href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&filter={{ search_data0 }}}&page={{ current_page.previous_page_number }}"{% endif %}
                       href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&page={{ current_page.previous_page_number }}"
                       aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            {% else %}
                {#            如果没有上一页了，就把标签禁止，且没有连接#}
                <li class="disabled">
                    <a href="" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>
                <li class="disabled">
                    <a href="" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>

            {% endif %}

            {#              中间的页码#}
            {% for page in page_range %}
                {#                如果循环的页码等于当前的页码，就添加active#}
                {% if current_page_num == page %}
                    <li class="active">
                        <a class="page1" {% if search_data0 %}href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&filter={{ search_data0 }}&page={{ page }}"{% endif %}
                        href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&page={{ page }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li><a class="page1" {% if search_data0 %}href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&filter={{ search_data0 }}&page={{ page }}"{% endif %}
                           href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {#              下一页#}
            {% if current_page.has_next %}

                <li>
                    <a id="Next" {% if search_data0 %}href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&filter={{ search_data0 }}&page={{ current_page.next_page_number }}"{% endif %}
                       href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&page={{ current_page.next_page_number }}"
                       aria-label="Next">
                        {#                <a id="Next" aria-label="Next">#}
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
                <li>
                    <a id="Last" {% if search_data0 %}href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&filter={{ search_data0 }}&page={{ paginator.num_pages }}"{% endif %}
                       href="?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&method={{ method }}&page={{ paginator.num_pages }}"
                       aria-label="Last">
                        {#                <a id="Last" aria-label="Last">#}
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            {% else %}
                {#            如果没有下一页了，就把标签禁止，且没有连接#}
                <li class="disabled">
                    <a href="" aria-label="Next">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
                <li class="disabled">
                    <a href="" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
<div id="footer">Copyright © College of Bioinformatics Science and Technology，Harbin Medical University</div>
<script src="http://127.0.0.1:8000/static/js/browse_Menu.js"></script>
<script>
    $(function () {
        $('#Bumhunter_table').find('th').each(function () {
            if ($(this).text() == 'None') {
                $(this).replaceWith("<th>—</th>");
                {#console.log($(this).text());#}
            }
            var supnav = document.getElementById("supnav");
            var nav = document.getElementById("menu1");
            var btns = nav.getElementsByTagName("li");
            var subnavs = nav.getElementsByTagName("div");
            var paddingbottom = 20;
            var defaultHeight = 0;
        });

        function drop(obj, ivalue) {
            var a = obj.offsetHeight;
            var speed = (ivalue - obj.offsetHeight) / 8;
            a += Math.floor(speed);
            obj.style.height = a + "px";
        }

        $('#menu1').ready(
            function () {
                var i = 1;
                btns[i].index = i;
                btns[i].onmouseover = function () {
                    var osubnav = subnavs[0];
                    var sublinks = osubnav.getElementsByTagName("a");
                    if (osubnav.firstChild.tagName == undefined) {
                        var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                    } else {
                        var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                    }
                    clearInterval(this.itimer);
                    this.itimer = setInterval(function () {
                            drop(osubnav, itarheight);
                        },
                        30);
                };
                btns[i].onmouseout = function () {
                    var osubnav = subnavs[0];
                    clearInterval(this.itimer);
                    this.itimer = setInterval(function () {
                            drop(osubnav, defaultHeight);
                        },
                        30);
                };
            }
        );

        $('#menu1').ready(
            function () {
                var i = 4;
                btns[i].index = i;
                btns[i].onmouseover = function () {
                    var osubnav = subnavs[1];
                    var sublinks = osubnav.getElementsByTagName("a");
                    if (osubnav.firstChild.tagName == undefined) {
                        var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                    } else {
                        var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                    }
                    clearInterval(this.itimer);
                    this.itimer = setInterval(function () {
                            drop(osubnav, itarheight);
                        },
                        30);
                };
                btns[i].onmouseout = function () {
                    var osubnav = subnavs[1];
                    clearInterval(this.itimer);
                    this.itimer = setInterval(function () {
                            drop(osubnav, defaultHeight);
                        },
                        30);
                };
            }
        );

        $('#ProbeLasso_table tbody tr th:nth-child(10)').each(function () {
            var str = $(this).text();
            str = str.replaceAll(';','<br>');
            $(this).replaceWith('<th>'+str+'</th>');
        });

        $('#ProbeLasso_table tbody tr th:nth-child(11)').each(function () {
            var str = $(this).text();
            geneNames = str.split(';')
            var htmlResult = geneNames.map(function (gene) {
                return '<p>' + gene + '</p>';
            }).join('');
            $(this).replaceWith('<th>' + htmlResult + '</th>');
        });
        $('#ProbeLasso_table tbody tr th:nth-child(11) p').each(function () {
            if ($(this).text() != 'NA') {
                $(this).css('cursor', 'pointer');
                $(this).css("color", "#337ab7");
                $(this).click(function () {
                    var gene_name = $(this).text();
                    var href_data = 'gene/?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&gene=' + gene_name
                    $(location).attr("href", href_data);
                })
            }
        });

        $('#filter').click(function () {
            var Filter_condition = $('input[name="filter"]').val();
            var href_data = '?a={{ search_data1 }}&b={{ search_data2 }}&c={{ search_data3 }}&filter=' + Filter_condition
            $('#filter').attr("href", href_data);
        })

    })

</script>
</body>
</html>