<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css"
          href="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/global.css"/>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"
            src="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js//highcharts/highcharts.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js//highcharts/exporting.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js//highcharts/highcharts-zh_CN.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            background-color: transparent;
            width: 1150px;
            max-width: 100%;
            margin: 50px auto;
        }

        th {
            border: 1px solid #ddd !important;
            text-align: center;
            height: 70px;
            line-height: 50px;
            font-size: 15px;
        }

        tbody th{
            height: 40px;
        }

        select {
            text-align: center;
            font-weight: bold;
        }

        #threshold_button button{
            background-color: white;
            width: 150px;
            height: 40px;
            margin: 20px 10px -10px 10px;
            border-radius: 13px;
        }

        .title {
            width: 1200px;
            margin: 25px auto;
            padding: 0 50px;
            height: 36px;
            font-size: 17px;
            font-weight: bold;
            line-height: 36px;
            background-image: linear-gradient(#d5e4f7, #f9fafb);
            border: 1px solid #cdc5bf;
            border-radius: 13px;
        }

        .link {
            stroke: #000;
            stroke-width: 2px;
            stroke-opacity: 0.1;
        }

        .centrality_button {
            float: left;
            font-size: 18px;
            height: 40px;
            width: 120px;
            text-align: center;
            line-height: 40px;
            margin: -15px 10px 16px 10px;
            border-radius: 13px;
            padding: 0;
            /*background-color: #eebde0;*/
            background-color: #94b8e5;
        }

        #centrality_select_button{
            text-align: center; /* 设置文本居中 */
            display: flex; /* 使用 Flexbox 布局 */
            justify-content: center; /* 在主轴上水平居中 */
        }

        #download{
            margin: 0 0 20px 0;
        }

        .notext {
            font-size: 24px;
            margin: 50px auto;
            text-align: center;
            font-weight: bold;
        }

    </style>
</head>

<body>
<div id="head">
    <img src="../static/img/logo.png" alt="Logo"/>
    <div id="menu1">
        <ul id="supnav">
            <li><a href="/index/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            {#            <li><a href="/search/"><span class="glyphicon glyphicon-eye-open"></span>Search<span class="caret"></span></a>#}
            <li><a><span class="glyphicon glyphicon-search"></span>Search<span class="caret"></span></a>
                <div class="browse" id="search">
                    <a href="/datasetSearch/">Transcriptome data Search</a>
                    <a href="/geneSearch/">Gene Search</a>
                    <a href="/methylationSearch/">Methylation data Search</a>
                </div>
            </li>
            <li class="active"><a href="/upload/"><span class="glyphicon glyphicon-cloud-upload"></span>Analyse</a></li>
            <li><a href="/help/"><span class="glyphicon glyphicon-file"></span>Help</a></li>
            <li><a><span class="glyphicon glyphicon-download-alt"></span>Download<span class="caret"></span></a>
                <div class="browse">
                    <a href="/download/">Transcriptome results</a>
                    <a href="/methylationdownload/">Methylation results</a>
                </div>
            </li>
            <li><a href="/contact/"><span class="glyphicon glyphicon-earphone"></span>Contact us</a></li>
        </ul>
    </div>
</div>
<div class="container search-content" id="background">
    {#    网络   #}
    <div id="ppi" class="title">Protein–protein interaction network</div>
    <svg width="1270" height="820" id="ppi_container" {% if data %}show{% else %}hidden{% endif %}></svg>
    <div class="notext" {% if data %}hidden{% else %}show{% endif %}>Too few network nodes.</div>
    {#    中心性算法   #}
    <div class="title">The centrality scores of each node in the PPI network ( top 10% )</div>
    <div {% if node_degrees %}show{% else %}hidden{% endif %}>
        <div id="centrality_select_button">
            <button onclick="degree()" class="centrality_button" id="Degree" value="Degree"
                    style="background-color: #eebde0">Degree
            </button>
            <button class="centrality_button" id="Radiality" value="Radiality">Radiality</button>
            <button class="centrality_button" id="EPC" value="EPC">EPC</button>
            <button class="centrality_button" id="MNC" value="MNC">MNC</button>
            <button class="centrality_button" id="Katz" value="Katz">Katz</button>
            <button class="centrality_button" id="Laplacian" value="Laplacian">Laplacian</button>
            <button class="centrality_button" id="SLC" value="SLC">Semilocal</button>
        </div>
        <div id="Histogram" style="width: 900px;height: 600px;text-align: center;margin: auto;"></div>
    </div>
    <div class="notext" {% if node_degrees %}hidden{% else %}show{% endif %}>Too few network nodes.</div>
    {#    关键基因   #}
    <div class="title">Key genes（ Intersection of centrality scores for each node in the PPI network ( top 10% )）</div>
    <table id="key_centrality_table" {% if intersection_list %}show{% else %}hidden{% endif %}>
        <thead>
        <tr>
            <th>Gene</th>
            <th>Degree</th>
            <th>Radiality</th>
            <th>EPC</th>
            <th>MNC</th>
            <th>Katz</th>
            <th>Semilocal</th>
            <th>Laplacian</th>
        </tr>
        </thead>
        <tbody>
        {% for name, score1, score2, score3, score4, score5, score6, score7 in zipped_data %}
            <tr>
                <th>{{ name }}</th>
                <th>{{ score1 }}</th>
                <th>{{ score2 }}</th>
                <th>{{ score3 }}</th>
                <th>{{ score4 }}</th>
                <th>{{ score5 }}</th>
                <th>{{ score6 }}</th>
                <th>{{ score7 }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="notext" {% if intersection_list %}hidden{% else %}show{% endif %}>No key genes were screened out.</div>
    <div id="download">Download the centrality algorithm scores for all genes: <a href="{% url 'download' %}">
        <button>Download</button>
    </a></div>
</div>
<div id="footer">Copyright © College of Bioinformatics Science and Technology，Harbin Medical University</div>
<script src="../static/js/browse_Menu.js"></script>
<script>
    $(function () {
        var supnav = document.getElementById("supnav");
        var nav = document.getElementById("menu1");
        var btns = nav.getElementsByTagName("li");
        var subnavs = nav.getElementsByTagName("div");
        var paddingbottom = 20;
        var defaultHeight = 0;

        $('#key_centrality_table tbody tr th:nth-child(1)').css("color", "#337ab7");
            $('#key_centrality_table tbody tr th:nth-child(1)').click(function () {
                var gene_name = $(this).text();
                $.get("/search/", {'gene_name': gene_name});
                var href_data = 'keyGene/?gene=' + gene_name
                $(location).attr("href", href_data);
                {#$.get("/search/", {'href_data': href_data});#}
            })
            $('#key_centrality_table tbody tr th:nth-child(1)').css('cursor', 'pointer');

        $('#Degree').click(function () {
            $(".centrality_button").css({"background-color": "#94b8e5"})
            $(this).css({"background-color": "#eebde0"})
            var chart = Highcharts.chart('Histogram', {
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Degree'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45  // 设置轴标签旋转角度
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'score'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<span style="font-size: 15px">Score:<br>{point.y:.1f}</span>'
                },
                {% if centrality_number < 10 %}
                    plotOptions: {
                        column: {
                            pointWidth: 40// 在这里设置柱子宽度
                        }
                    },
                {% endif %}
                series: [{
                    data: [{% for obj1 in degree_list %}{{ obj1|safe }}, {% endfor %}],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.2f}', // :.1f 为保留 1 位小数
                        y: 10
                    }
                }]
            });
        })

        $('#Radiality').click(function () {
            $(".centrality_button").css({"background-color": "#94b8e5"})
            $(this).css({"background-color": "#eebde0"})
            var chart = Highcharts.chart('Histogram', {
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Radiality'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45  // 设置轴标签旋转角度
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'score'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<span style="font-size: 15px">Score:<br>{point.y:.1f}</span>'
                },
                {% if centrality_number < 10 %}
                    plotOptions: {
                        column: {
                            pointWidth: 40// 在这里设置柱子宽度
                        }
                    },
                {% endif %}
                series: [{
                    data: [{% for obj1 in radiality_list %}{{ obj1|safe }}, {% endfor %}],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.2f}', // :.1f 为保留 1 位小数
                        y: 10
                    }
                }]
            });
        })

        $('#EPC').click(function () {
            $(".centrality_button").css({"background-color": "#94b8e5"})
            $(this).css({"background-color": "#eebde0"})
            var chart = Highcharts.chart('Histogram', {
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Edge Percolated Component'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45  // 设置轴标签旋转角度
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'score'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<span style="font-size: 15px">Score:<br>{point.y:.1f}</span>'
                },
                {% if centrality_number < 10 %}
                    plotOptions: {
                        column: {
                            pointWidth: 40// 在这里设置柱子宽度
                        }
                    },
                {% endif %}
                series: [{
                    data: [{% for obj1 in epc_list %}{{ obj1|safe }}, {% endfor %}],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.2f}', // :.1f 为保留 1 位小数
                        y: 10
                    }
                }]
            });
        })

        $('#MNC').click(function () {
            $(".centrality_button").css({"background-color": "#94b8e5"})
            $(this).css({"background-color": "#eebde0"})
            var chart = Highcharts.chart('Histogram', {
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Maximum Neighborhood Component'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45  // 设置轴标签旋转角度
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'score'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<span style="font-size: 15px">Score:<br>{point.y:.1f}</span>'
                },
                {% if centrality_number < 10 %}
                    plotOptions: {
                        column: {
                            pointWidth: 40// 在这里设置柱子宽度
                        }
                    },
                {% endif %}
                series: [{
                    data: [{% for obj1 in mnc_list %}{{ obj1|safe }}, {% endfor %}],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.2f}', // :.1f 为保留 1 位小数
                        y: 10
                    }
                }]
            });
        })

        $('#Katz').click(function () {
            $(".centrality_button").css({"background-color": "#94b8e5"})
            $(this).css({"background-color": "#eebde0"})
            var chart = Highcharts.chart('Histogram', {
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Katz Centricity'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45  // 设置轴标签旋转角度
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'score'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<span style="font-size: 15px">Score:<br>{point.y:.1f}</span>'
                },
                {% if centrality_number < 10 %}
                    plotOptions: {
                        column: {
                            pointWidth: 40// 在这里设置柱子宽度
                        }
                    },
                {% endif %}
                series: [{
                    data: [{% for obj1 in katz_list %}{{ obj1|safe }}, {% endfor %}],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.2f}', // :.1f 为保留 1 位小数
                        y: 10
                    }
                }]
            });
        })

        $('#SLC').click(function () {
            $(".centrality_button").css({"background-color": "#94b8e5"})
            $(this).css({"background-color": "#eebde0"})
            var chart = Highcharts.chart('Histogram', {
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Semi local centrality'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45  // 设置轴标签旋转角度
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'score'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<span style="font-size: 15px">Score:<br>{point.y:.1f}</span>'
                },
                {% if centrality_number < 10 %}
                    plotOptions: {
                        column: {
                            pointWidth: 40// 在这里设置柱子宽度
                        }
                    },
                {% endif %}
                series: [{
                    data: [{% for obj1 in semilocal_list %}{{ obj1|safe }}, {% endfor %}],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.2f}', // :.1f 为保留 1 位小数
                        y: 10
                    }
                }]
            });
        })

        $('#Laplacian').click(function () {
            $(".centrality_button").css({"background-color": "#94b8e5"})
            $(this).css({"background-color": "#eebde0"})
            var chart = Highcharts.chart('Histogram', {
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Laplacian centrality'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45  // 设置轴标签旋转角度
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'score'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<span style="font-size: 15px">Score:<br>{point.y:.1f}</span>'
                },
                {% if centrality_number < 10 %}
                    plotOptions: {
                        column: {
                            pointWidth: 40// 在这里设置柱子宽度
                        }
                    },
                {% endif %}
                series: [{
                    data: [{% for obj1 in laplacian_list %}{{ obj1|safe }}, {% endfor %}],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.2f}', // :.1f 为保留 1 位小数
                        y: 10
                    }
                }]
            });
        })
    })

    function drop(obj, ivalue) {
        var a = obj.offsetHeight;
        var speed = (ivalue - obj.offsetHeight) / 8;
        a += Math.floor(speed);
        obj.style.height = a + "px";
    }

    $('#menu1').ready(
        function () {
            var i = 1;
            btns[i].index = i;
            btns[i].onmouseover = function () {
                var osubnav = subnavs[0];
                var sublinks = osubnav.getElementsByTagName("a");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, itarheight);
                    },
                    30);
            };
            btns[i].onmouseout = function () {
                var osubnav = subnavs[0];
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            };
        }
    );

    $('#menu1').ready(
        function () {
            var i = 4;
            btns[i].index = i;
            btns[i].onmouseover = function () {
                var osubnav = subnavs[1];
                var sublinks = osubnav.getElementsByTagName("a");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, itarheight);
                    },
                    30);
            };
            btns[i].onmouseout = function () {
                var osubnav = subnavs[1];
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            };
        }
    );

    {#网络#}
    var links = [
        {% for i,j in zipped_ppi %}
            {
                "source": "{{ i }}",
                "target": "{{ j }}"
            },
        {% endfor %}
    ]

    var width = 1370,
        height = 820;

    //初始化缩放方法
    var zoom = d3.behavior.zoom()//缩放配置，
        .scaleExtent([0.4, 2])//缩放比例
        .on("zoom", zoomed);

    function zoomed() {//缩放函数
        {#svg.selectAll("g").attr("transform","translate(160,167)scale(0.8)")#}
        svg.selectAll("g").attr("transform",//svg下的g标签移动大小
            "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
    }

    var svg = d3.select('svg#ppi_container')
        .call(zoom);

    var nodes = {} // parse links to nodes
    links.forEach(function (link) { // for loop
        link.source = nodes[link.source] ||
            (nodes[link.source] = {name: link.source});
        link.target = nodes[link.target] ||
            (nodes[link.target] = {name: link.target});
    });
    var intersection_list = [{{ intersection_list|safe }}];
    for (var key in nodes) {
        if (intersection_list[0].includes(nodes[key].name)) {
            nodes[key].group = '1'
        } else {
            nodes[key].group = '2'
        }
    }

    svg.append('rect')
        .attr('width', '100%')
        .attr('height', '100%')
        .attr('fill', 'white')
        .on('click', function () {
            d3.selectAll('.node').style('opacity', '1');
        });
    var link = svg.append("g").selectAll('.link')
        .data(links)
        .enter().append('line') // append connection for curved line append path
        .attr('class', 'link');

    var force = d3.layout.force()
        .size([1170, 820])
        .nodes(d3.values(nodes))
        .links(links)
        .gravity(0.25)
        .theta(0.6)
        .on("tick", tick)
        .linkDistance(50)
        .charge(-350)
        .alpha(0)
        .start();
    var color = ["#ff2f0d", "#899eff"];
    var node = svg.append("g").selectAll('.node')
        .attr("stroke-width", 1.5)
        .data(force.nodes())
        .enter().append("circle")
        .attr("class", "node")
        .attr('r', function (d) {
            return d.weight / 3 + 4;
        })
        .style("fill", function (d) {
            return color[d.group - 1];
        })
    {#.attr('fill', d => color(d.group))#}
    {#.call(drag());//使顶点可以被拖动#}

    node.append("text")
        .attr("dy", "3em")
        .text(d => d.name)
        .style("text-anchor", "middle");

    {#var text = svg.selectAll('.text')#}
    var text = svg.append("g").selectAll('.text')
        .data(force.nodes())
        .enter().append("text")
        .text(d => d.name)
        .style("display", "none")
        .style("font-size", "20px")
        .style("stroke", "red")
        {#.call(drag())#}
        .attr("y", function (d, i) {
            return 20;
        })
        .attr("x", function (d, i) {
                return 30;
            }
        );

    function drag() {//拖拽函数
        return force.drag()
            .on("dragstart", function (d) {
                d3.event.sourceEvent.stopPropagation(); //取消默认事件
                d.fixed = true;    //拖拽开始后设定被拖拽对象为固定
            })
            .on("drag", function (d) {
                d3.select(this).attr("cx", d.x = d3.event.x).attr("cy", d.y = d3.event.y)
            })
            .on("dragend", function (d) {
                d3.select(this).classed("dragging", false)
            });
    }

    svg.selectAll(".node,.link, text").call(drag());//为svg下的所有g标签添加拖拽事件
    node.on("mouseover", (d) => {
        text.style('display', t => (t.name === d.name) ? "inline" : "none");
        link.style('stroke-opacity', l => ((d === l.source) | (d === l.target) ? 1 : 0.05));
    })
        .on("mouseout", (d) => {
            text.style("display", "none");
            link.style("stroke-opacity", 0.1);
        });

    function tick(e) {
        node.attr("cx", function (d) {
            return d.x;
        })
            .attr("cy", function (d) {
                return d.y;
            });

        text.attr("x", function (d) {
            return d.x - 30;
        })
            .attr("y", function (d) {
                return d.y - 8;
            })


        link.attr("x1", function (d) {
            return d.source.x;
        })
            .attr("y1", function (d) {
                return d.source.y;
            })
            .attr("x2", function (d) {
                return d.target.x;
            })
            .attr("y2", function (d) {
                return d.target.y;
            })
    }

    {#柱状图#}
    var chart = Highcharts.chart('Histogram', {
        chart: {
            type: 'column'
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Degree'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45  // 设置轴标签旋转角度
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'score'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '<span style="font-size: 15px">Score:<br>{point.y:.1f}</span>'
        },
        {% if centrality_number < 10 %}
            plotOptions: {
                column: {
                    pointWidth: 40// 在这里设置柱子宽度
                }
            },
        {% endif %}
        series: [{
            data: [{% for obj1 in degree_list %}{{ obj1|safe }}, {% endfor %}],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.2f}', // :.1f 为保留 1 位小数
                y: 10
            }
        }]
    });

</script>
</body>
</html>