<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css"
          href="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/global.css"/>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"
            src="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js//highcharts/highcharts.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js//highcharts/exporting.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js//highcharts/highcharts-zh_CN.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            background-color: transparent;
            width: 1200px;
            max-width: 100%;
            margin: 70px auto;
        }

        th {
            border: 1px solid #ddd !important;
            text-align: center;
            height: 70px;
            line-height: 50px;
            font-size: 15px;
        }

        .search-box {
            float: left;
            width: 270px;
            display: block;
            height: 36px;
            margin: 10px 0 0 0;
            font-size: 15px;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
        }

        .search_button {
            height: 36px;
            margin: 10px 0 0 0;
        }

        select {
            text-align: center;
            font-weight: bold;
        }

        .download-icon{
            font-size: 23px;
            vertical-align: middle;
            margin: auto;
            {#line-height: 50px;#}
        }

        .search-content{
            height: 780px;
        }

        #information {
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            margin-top: 20px;
        }

        #threshold_button {
            text-align: center; /* 设置文本居中 */
            display: flex; /* 使用 Flexbox 布局 */
            justify-content: center; /* 在主轴上水平居中 */
        }

        #threshold_button button{
            background-color: white;
            width: 150px;
            height: 40px;
            margin: 20px 10px -10px 10px;
            border-radius: 13px;
        }
        .input-group{
            margin-bottom: 50px;
        }

        .input-group{
            display: flex;
            justify-content: center;
        }

        #dataset{
            margin-right: 50px;
        }

    </style>
</head>

<body>
<div id="head">
    <img src="../static/img/logo.png" alt="Logo"/>
    <div id="menu1">
        <ul id="supnav">
            <li><a href="/index/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            {#            <li><a href="/search/"><span class="glyphicon glyphicon-eye-open"></span>Search<span class="caret"></span></a>#}
            <li><a><span class="glyphicon glyphicon-search"></span>Search<span class="caret"></span></a>
                <div class="browse" id="search">
                    <a href="/datasetSearch/">Transcriptome data Search</a>
                    <a href="/geneSearch/">Gene Search</a>
                    <a href="/methylationSearch/">Methylation data Search</a>
                </div>
            </li>
            <li><a href="/upload/"><span class="glyphicon glyphicon-cloud-upload"></span>Analyse</a></li>
            <li><a href="/help/"><span class="glyphicon glyphicon-file"></span>Help</a></li>
            <li class="active"><a><span class="glyphicon glyphicon-download-alt"></span>Download<span class="caret"></span></a>
                <div class="browse">
                    <a href="/download/">Transcriptome results</a>
                    <a href="/methylationdownload/">Methylation results</a>
                </div>
            </li>
            <li><a href="/contact/"><span class="glyphicon glyphicon-earphone"></span>Contact us</a></li>
        </ul>
    </div>
</div>
<div class="container search-content" id="background">
    <form method="get">
        <div class="input-group">
            <select id="species" name="a" class="search-box" value="{{ a }}" onchange="loadDrug()">
            </select>
            <select id="drug" name="b" class="search-box" value="{{ b }}" onchange="loadArea()">
            </select>
            <select id="area" name="c" class="search-box" value="{{ c }}" onchange="loadDataset()">
            </select>
            <select id="dataset" name="d" class="search-box" value="{{ d }}">
            </select>
            <span class="input-group-btn">
                        <button class="btn btn-default search_button" type="submit" id="search_button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
        </div>
    </form>
    <div id="information">Please select a threshold</div>
    <div id="threshold_button"></div>
    <table id="literature_table">
        <thead>
        <tr>
            <th>Table name</th>
            <th>Description</th>
            <th>Threshold</th>
            <th>Download</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if a %}
                <th>{{ a }}_{{ b }}_{{ c }}_{{ d }}</th>
            {% else %}
                <th>Human_Cocaine_Midbrain_GSE54839</th>
            {% endif %}
            <th>Differential expression analysis result</th>
            {% if p %}
                <th>Pvalue < {{ p }} & |logFC| > {{ fc }}</th>
            {% else %}
                <th>Pvalue < 0.05 & |logFC| > 1.2</th>
            {% endif %}
            <th>
                {#                <form method="post">#}
                {#                    {% csrf_token %}#}
                {#                    <button type="submit">Export to Excel</button>#}
                {#                                </form>#}
                <a href="{% url 'download1' %}">
                    <span class="glyphicon glyphicon-download-alt download-icon" aria-hidden="true"></span>
                </a>
            </th>
        </tr>
        <tr>
            {% if a %}
                <th>{{ a }}_{{ b }}_{{ c }}_{{ d }}_PPI</th>
            {% else %}
                <th>Human_Cocaine_Midbrain_GSE54839_PPI</th>
            {% endif %}
            <th>Differential expression gene interaction network result</th>
            {% if p %}
                <th>Pvalue < {{ p }} & |logFC| > {{ fc }}</th>
            {% else %}
                <th>Pvalue < 0.05 & |logFC| > 1.2</th>
            {% endif %}
            <th>
                <a href="{% url 'download2' %}">
                    <span class="glyphicon glyphicon-download-alt download-icon" aria-hidden="true"></span>
                </a>
            </th>
        </tr>
        <tr>
            {% if a %}
                <th>{{ a }}_{{ b }}_{{ c }}_{{ d }}_Centrality</th>
            {% else %}
                <th>Human_Cocaine_Midbrain_GSE54839_Centrality</th>
            {% endif %}
            <th>Scores of centrality algorithms for nodes in the network</th>
            {% if p %}
                <th>Pvalue < {{ p }} & |logFC| > {{ fc }}</th>
            {% else %}
                <th>Pvalue < 0.05 & |logFC| > 1.2</th>
            {% endif %}
            <th>
                <a href="{% url 'download3' %}">
                    <span class="glyphicon glyphicon-download-alt download-icon" aria-hidden="true"></span>
                </a>
            </th>
        </tr>
        <tr>
            {% if a %}
                <th>{{ a }}_{{ b }}_{{ c }}_{{ d }}_Go</th>
            {% else %}
                <th>Human_Cocaine_Midbrain_GSE54839_Go</th>
            {% endif %}
            <th>GO Enrichment Analysis of Nodes in Differential Gene Interaction Network</th>
            {% if p %}
                <th>Pvalue < {{ p }} & |logFC| > {{ fc }}</th>
            {% else %}
                <th>Pvalue < 0.05 & |logFC| > 1.2</th>
            {% endif %}
            <th>
                <a href="{% url 'download4' %}">
                    <span class="glyphicon glyphicon-download-alt download-icon" aria-hidden="true"></span>
                </a>
            </th>
        </tr>
        <tr>
            {% if a %}
                <th>{{ a }}_{{ b }}_{{ c }}_{{ d }}_Kegg</th>
            {% else %}
                <th>Human_Cocaine_Midbrain_GSE54839_Kegg</th>
            {% endif %}
            <th>KEGG Pathway Analysis of Nodes in Differential Gene Interaction Network</th>
            {% if p %}
                <th>Pvalue < {{ p }} & |logFC| > {{ fc }}</th>
            {% else %}
                <th>Pvalue < 0.05 & |logFC| > 1.2</th>
            {% endif %}
            <th>
                <a href="{% url 'download5' %}">
                    <span class="glyphicon glyphicon-download-alt download-icon" aria-hidden="true"></span>
                </a>
            </th>
        </tr>
        </tbody>
    </table>
</div>
<div id="footer">Copyright © College of Bioinformatics Science and Technology，Harbin Medical University</div>
<script src="../static/js/browse_Menu.js"></script>
<script>
    $(function () {
        loadSpecies();
        var supnav = document.getElementById("supnav");
        var nav = document.getElementById("menu1");
        var btns = nav.getElementsByTagName("li");
        var subnavs = nav.getElementsByTagName("div");
        var paddingbottom = 20;
        var defaultHeight = 0;

        var data = {{ data_list|safe }};

        // 使用JavaScript来检查数据是否包含 "human_cocaine_gse54839"
        if (data.includes("{{ table_name_lower }}_ppi")) {
            $('#threshold_button').append("<button id='11' type='submit'>P<0.05 & |FC|>1.2</button>");
            {#$('#threshold').append("<option id='0.05_1.2' value='0.05_1.2'>P<0.05 & |FC|>1.2</option>");#}
        }
        if(data.includes("{{ table_name_lower }}_ppi_0.05_1.5")){
            $('#threshold_button').append("<button id='12' type='submit'>P<0.05 & |FC|>1.5</button>");
            {#$('#threshold').append("<option id='0.05_1.5' value='0.05_1.5'>P<0.05 & |FC|>1.5</option>");#}
        }
        if(data.includes("{{ table_name_lower }}_ppi_0.05_2")){
            $('#threshold_button').append("<button id='13' type='submit'>P<0.05 & |FC|>2</button>");
            {#$('#threshold').append("<option id='0.05_2' value='0.05_2'>P<0.05 & |FC|>2</option>");#}
        }
        if(data.includes("{{ table_name_lower }}_ppi_0.01_1.2")){
            $('#threshold_button').append("<button id='21' type='submit'>P<0.01 & |FC|>1.2</button>");
            {#$('#threshold').append("<option id='0.01_1.2' value='0.01_1.2'>P<0.01 & |FC|>1.2</option>");#}
        }
        if(data.includes("{{ table_name_lower }}_ppi_0.01_1.5")){
            $('#threshold_button').append("<button id='22' type='submit'>P<0.01 & |FC|>1.5</button>");
            {#$('#threshold').append("<option id='0.01_1.5' value='0.01_1.5'>P<0.01 & |FC|>1.5</option>");#}
        }
        if(data.includes("{{ table_name_lower }}_ppi_0.01_2")){
            $('#threshold_button').append("<button id='23' type='submit'>P<0.01 & |FC|>2</button>");
            {#$('#threshold').append("<option id='0.01_2' value='0.01_2'>P<0.01 & |FC|>2</option>");#}
        }

        {% if p == '0.05' and fc == '1.2' %}
            $('#11').css("background-color", "#d5e4f7");
        {% elif p == '0.05' and fc == '1.5' %}
            $('#12').css("background-color", "#d5e4f7");
        {% elif p == '0.05' and fc == '2' %}
            $('#13').css("background-color", "#d5e4f7");
        {% elif p == '0.01' and fc == '1.2' %}
            $('#21').css("background-color", "#d5e4f7");
        {% elif p == '0.01' and fc == '1.5' %}
            $('#22').css("background-color", "#d5e4f7");
        {% elif p == '0.01' and fc == '2' %}
            $('#23').css("background-color", "#d5e4f7");
        {% else %}
            $('#11').css("background-color", "#d5e4f7");
        {% endif %}


        {% if not a %}
            $('#threshold_button').append("<button id='11' type='submit'>P<0.05 & |FC|>1.2</button>");
            $('#threshold_button').append("<button id='12' type='submit'>P<0.05 & |FC|>1.5</button>");
            $('#threshold_button').append("<button id='13' type='submit'>P<0.05 & |FC|>2</button>");
            $('#threshold_button').append("<button id='21' type='submit'>P<0.01 & |FC|>1.2</button>");
            $('#threshold_button').append("<button id='22' type='submit'>P<0.01 & |FC|>1.5</button>");
            $('#threshold_button').append("<button id='23' type='submit'>P<0.01 & |FC|>2</button>");
            $('#11').css("background-color", "#d5e4f7");
            $('#11').click(function () {
                var href_data = '?a=Human&b=Cocaine&c=Midbrain&d=GSE54839&p=0.05&fc=1.2'
                $(location).attr("href", href_data);
            })
            $('#12').click(function () {
                var href_data = '?a=Human&b=Cocaine&c=Midbrain&d=GSE54839&p=0.05&fc=1.5'
                $(location).attr("href", href_data);
            })
            $('#13').click(function () {
                var href_data = '?a=Human&b=Cocaine&c=Midbrain&d=GSE54839&p=0.05&fc=2'
                $(location).attr("href", href_data);
            })
            $('#21').click(function () {
                var href_data = '?a=Human&b=Cocaine&c=Midbrain&d=GSE54839&p=0.01&fc=1.2'
                $(location).attr("href", href_data);
            })
            $('#22').click(function () {
                var href_data = '?a=Human&b=Cocaine&c=Midbrain&d=GSE54839&p=0.01&fc=1.5'
                $(location).attr("href", href_data);
            })
            $('#23').click(function () {
                var href_data = '?a=Human&b=Cocaine&c=Midbrain&d=GSE54839&p=0.01&fc=2'
                $(location).attr("href", href_data);
            })
        {% else %}
            $('#11').click(function () {
                var href_data = '?a={{ a }}&b={{ b }}&c={{ c }}&d={{ d }}&p=0.05&fc=1.2'
                $(location).attr("href", href_data);
            })
            $('#12').click(function () {
                var href_data = '?a={{ a }}&b={{ b }}&c={{ c }}&d={{ d }}&p=0.05&fc=1.5'
                $(location).attr("href", href_data);
            })
            $('#13').click(function () {
                var href_data = '?a={{ a }}&b={{ b }}&c={{ c }}&d={{ d }}&p=0.05&fc=2'
                $(location).attr("href", href_data);
            })
            $('#21').click(function () {
                var href_data = '?a={{ a }}&b={{ b }}&c={{ c }}&d={{ d }}&p=0.01&fc=1.2'
                $(location).attr("href", href_data);
            })
            $('#22').click(function () {
                var href_data = '?a={{ a }}&b={{ b }}&c={{ c }}&d={{ d }}&p=0.01&fc=1.5'
                $(location).attr("href", href_data);
            })
            $('#23').click(function () {
                var href_data = '?a={{ a }}&b={{ b }}&c={{ c }}&d={{ d }}&p=0.01&fc=2'
                $(location).attr("href", href_data);
            })
        {% endif %}

    })

    function drop(obj, ivalue) {
        var a = obj.offsetHeight;
        var speed = (ivalue - obj.offsetHeight) / 8;
        a += Math.floor(speed);
        obj.style.height = a + "px";
    }

    $('#menu1').ready(
        function () {
            var i = 1;
            btns[i].index = i;
            btns[i].onmouseover = function () {
                var osubnav = subnavs[0];
                var sublinks = osubnav.getElementsByTagName("a");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, itarheight);
                    },
                    30);
            };
            btns[i].onmouseout = function () {
                var osubnav = subnavs[0];
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            };
        }
    );

    $('#menu1').ready(
        function () {
            var i = 4;
            btns[i].index = i;
            btns[i].onmouseover = function () {
                var osubnav = subnavs[1];
                var sublinks = osubnav.getElementsByTagName("a");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, itarheight);
                    },
                    30);
            };
            btns[i].onmouseout = function () {
                var osubnav = subnavs[1];
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            };
        }
    );

    function loadSpecies() {
        loadSearch(0, 'species', loadDrug);
    }

    function loadDrug() {
        loadSearch($('#species option:selected').attr('id'), 'drug', loadArea);
    }

    function loadArea() {
        loadSearch($('#drug option:selected').attr('id'), 'area', loadDataset);
    }

    function loadDataset() {
        loadSearch($('#area option:selected').attr('id'), 'dataset');
    }

    function loadSearch(pid, selectID, nextLoad) {
        $('#' + selectID).empty();
        $.get('/getInfo/', {'pid': pid}, function (result) {
            var searchList = JSON.parse(result.jareaList);
            for (var i = 0; i < searchList.length; i++) {
                var sear = searchList[i];
                $('#' + selectID).append("<option id='" + sear.pk + "' value='" + sear.fields.areaname + "'>" + sear.fields.areaname + "</option>");
            }
            if (nextLoad != null) {
                nextLoad();
            }
        });
    }
</script>
</body>
</html>