<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddictionDDA</title>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/global.css"/>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"  src="http://127.0.0.1:8000/static/js//highcharts/highcharts.js"></script>
    <script type="text/javascript"  src="http://127.0.0.1:8000/static/js//highcharts/exporting.js"></script>
    <script type="text/javascript"  src="http://127.0.0.1:8000/static/js//highcharts/highcharts-zh_CN.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        #introduce {
            margin-top: 10px;
            font-size: 20px;
            width: 1200px;
            text-align: justify;
            text-indent: 2em;
            margin: 0 auto;
            line-height: 32px;
        }

        .browse {
            width: 205px;
            position: absolute;
            z-index: 2;
            height: 0px;
            background-color: #d5e4f7;
            overflow: hidden;
            display: block;
        }

        .browse a {
            text-decoration: none;
            line-height: 26px;
            display: block;
            margin: auto auto auto 10px;
            padding: 4px;
        }

        .browse a:hover {
            background-color: #89d9b1;
            width: 185px;
        }

        #search{
            width: 245px;
        }

        #search a:hover{
            width: 225px;
        }

        .bottomInformation{
            float: left;
            height: 200px;
            width: 400px;
            border: 2px solid black;
            margin: 20px auto;
            position: relative;
        }

        .bottomInformation p{
            font-size: 30px;
            position: absolute;
            bottom: -5px;
        }

        #CITATION{
            left: 130px;
        }

        #VISITS{
            left: 140px;
        }

        #plots{
            display: flex; /* 使用 Flexbox 布局 */
            justify-content: center; /* 在主轴上水平居中 */
        }

    </style>
</head>

<body>
<div id="head">
    <img src="../static/img/logo.png" alt="Logo"/>
    <div id="menu1">
        <ul id="supnav">
            <li class="active"><a href="/index/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
{#            <li><a href="/search/"><span class="glyphicon glyphicon-eye-open"></span>Search<span class="caret"></span></a>#}
            <li><a><span class="glyphicon glyphicon-search"></span>Search<span class="caret"></span></a>
                <div class="browse" id="search">
                    <a href="/datasetSearch/">Transcriptome data Search</a>
                    <a href="/geneSearch/">Gene Search</a>
                    <a href="/methylationSearch/">Methylation data Search</a>
                </div>
            </li>
            <li><a href="/upload/"><span class="glyphicon glyphicon-cloud-upload"></span>Analyse</a></li>
            <li><a href="/help/"><span class="glyphicon glyphicon-file"></span>Help</a></li>

            <li><a><span class="glyphicon glyphicon-download-alt"></span>Download<span class="caret"></span></a>
                <div class="browse">
                    <a href="/download/">Transcriptome results</a>
                    <a href="/methylationdownload/">Methylation results</a>
                </div>
            </li>
            <li><a href="/contact/"><span class="glyphicon glyphicon-earphone"></span>Contact us</a></li>
        </ul>
    </div>
</div>
<div class="container" id="background">
    <h1>Welcome to DARG</h1>
    <div id="introduce">
        <p>Drug addiction is a chronic recurrent brain disease. Its formation mechanism is that individuals repeatedly use drugs.
            The chemical composition of drugs directly affects the brain, extensively changes the structure and function of the
            brain's influence on the brain nervous system, and further promotes drug seeking and drug taking behavior, ultimately
            leading to the occurrence of addiction disorder.</p>
        <p>Analyzing drug addiction datasets is crucial as it provides important insights into understanding the mechanisms
            of drug addiction and exploring potential biomarkers of drug addiction.The drug addiction database analyzed and
            presented multiple datasets of addictive drugs, including human and mouse, distributed in different brain regions.
            In this database, the differential expression of different addictive drugs in different brain regions can be queried,
            and a differential gene protein interaction network has been constructed. Twelve different centrality algorithms
            have been used to calculate the centrality of nodes in the network, and possible key genes have been screened.
            Finally, enrichment analysis has been conducted on the genes in the network.</p>
    </div>
    <div id="plots">
        <div id="human-plot" style="float: left">
            <div id="human_data" style="width:640px;height:500px;"></div>
            <div id="methylation_human_data" style="width:640px;height:500px;"></div>
            {#        <div id="methylation_human_data" style="width:300px;height:300px;margin:20px 0 0 45px"></div>#}
        </div>
        <div id="mouse_data" style="width:640px;height:1000px;"></div>
    </div>
    <hr style="width:1200px;border:solid 1px"/>
    <div>
        <div style="font-size: 15px;padding: 10px;margin: 0 0 20px 200px;" class="bottomInformation">
            <div style="font-weight: bold;margin-bottom: -20px">Please Cite:</div>
            <br>
            DARG: An integrated knowledge base for analyzing addictive drug related genes.
            <br>
            Identification of key genes and therapeutic drugs for cocaine addiction using integrated bioinformatics analysis
            <p id="CITATION">CITATION</p>
        </div>
        <div style="padding: 20px 0 0 70px;margin: 0 0 20px 170px;" class="bottomInformation">
            <script type="text/javascript"
                    src="//rf.revolvermaps.com/0/0/4.js?i=565p2ohg6io&amp;m=0&amp;h=128&amp;c=ff0000&amp;r=0"
                    async="async"></script>
            <p id="VISITS">VISITS</p>
        </div>
    </div>
</div>
<div id="footer">Copyright © College of Bioinformatics Science and Technology，Harbin Medical University</div>
<script src="../static/js/browse_Menu.js"></script>
<script>
    $(function () {
        human_data();
        mouse_data();
        methylation_human_data();

        var supnav = document.getElementById("supnav");
        var nav = document.getElementById("menu1");
        var btns = nav.getElementsByTagName("li");
        var subnavs = nav.getElementsByTagName("div");
        var paddingbottom = 20;
        var defaultHeight = 0;
    })

    function drop(obj, ivalue) {
        var a = obj.offsetHeight;
        var speed = (ivalue - obj.offsetHeight) / 8;
        a += Math.floor(speed);
        obj.style.height = a + "px";
    }

    $('#menu1').ready(
        function () {
            var i = 1;
            btns[i].index = i;
            btns[i].onmouseover = function () {
                var osubnav = subnavs[0];
                var sublinks = osubnav.getElementsByTagName("a");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, itarheight);
                    },
                    30);
            };
            btns[i].onmouseout = function () {
                var osubnav = subnavs[0];
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            };
        }
    );

    $('#menu1').ready(
        function () {
            var i = 4;
            btns[i].index = i;
            btns[i].onmouseover = function () {
                var osubnav = subnavs[1];
                var sublinks = osubnav.getElementsByTagName("a");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, itarheight);
                    },
                    30);
            };
            btns[i].onmouseout = function () {
                var osubnav = subnavs[1];
                clearInterval(this.itimer);
                this.itimer = setInterval(function () {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            };
        }
    );


    function human_data() {
        var colors = Highcharts.getOptions().colors,
            categories = [
                "Cocaine",
                "Heroin",
                "Ethanol"
            ],
            sum_data = 12,
            data = [
                {
                    "y": 2,
                    "color": colors[2],
                    "drilldown": {
                        "name": "Cocaine",
                        "categories": [
                            "Midbrain",
                        ],
                        "data": [
                            2
                        ]
                    }
                },
                {
                    "y": 1,
                    "color": colors[1],
                    "drilldown": {
                        "name": "Heroin",
                        "categories": [
                            "NAc"
                        ],
                        "data": [
                            1
                        ]
                    }
                },
                {
                    "y": 10,
                    "color": colors[0],
                    "drilldown": {
                        "name": "Ethanol",
                        "categories": [
                            "VTA",
                            "Putamen",
                            "NAc",
                            "PFC",
                            "Amygdala",
                            "Cerebellum",
                            "CN",
                            "Hipp",
                            "Cortex"
                        ],
                        "data": [
                            1,
                            1,
                            1,
                            2,
                            1,
                            1,
                            1,
                            1,
                            1
                        ]
                    }
                },
            ],
            browserData = [],
            versionsData = [],
            i,
            j,
            dataLen = data.length,
            drillDataLen,
            brightness;
// Build the data arrays
        for (i = 0; i < dataLen; i += 1) {
            // add browser data
            browserData.push({
                name: categories[i],
                // y: data[i].drilldown.categories.length,
                y: data[i].y,
                color: data[i].color
            });
            // add version data
            drillDataLen = data[i].drilldown.data.length;
            for (j = 0; j < drillDataLen; j += 1) {
                brightness = 0.2 - (j / drillDataLen) / 5;
                versionsData.push({
                    name: data[i].drilldown.categories[j],
                    y: data[i].drilldown.data[j],
                    color: new Highcharts.Color(data[i].color).brighten(brightness).get()
                });
            }
        }
// Create the chart
        Highcharts.chart('human_data', {
            chart: {
                type: 'pie'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Human-Transcriptome'
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    center: ['50%', '50%']
                }
            },
            tooltip: {},
            series: [{
                name: 'Dataset',
                data: browserData,
                size: '60%',
                dataLabels: {
                    formatter: function () {
                        return this.point.name;
                    },
                    color: '#ffffff',
                    distance: -50
                },
                // tooltip: {
                // 	headerFormat: '<span>'+ 'p' +'</span>',
                // 	pointFormat: '<span>'+ 'dsafkjdshf' +'</span>',
                // },
            }, {
                name: 'Dataset',
                data: versionsData,
                size: '80%',
                innerSize: '60%',
                dataLabels: {
                    formatter: function () {
                        // display only if larger than 1
                        return '<b>' + this.point.name + ':</b> ' + this.y
                    }
                },
                id: 'versions'
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 400
                    },
                    chartOptions: {
                        series: [{
                            id: 'versions',
                            dataLabels: {
                                enabled: false
                            }
                        }]
                    }
                }]
            }
        });
    }

    function methylation_human_data() {
        var colors = Highcharts.getOptions().colors,
            categories = [
                "Cocaine",
                "Heroin",
                "Alcohol",
                "Nicotine",
                "Oxycodone"
            ],
            data = [
                {
                    "y": 1,
                    "color": colors[2],
                    "drilldown": {
                        "name": "Cocaine",
                        "categories": [
                            "Peripheral blood",
                        ],
                        "data": [
                            1
                        ]
                    }
                },
                {
                    "y": 1,
                    "color": colors[1],
                    "drilldown": {
                        "name": "Heroin",
                        "categories": [
                            "Orbitofrontal"
                        ],
                        "data": [
                            1
                        ]
                    }
                },
                {
                    "y": 5,
                    "color": colors[0],
                    "drilldown": {
                        "name": "Alcohol",
                        "categories": [
                            "Peripheral blood",
                            "Buccal epithelial cells",
                            "T lymphocytes"
                        ],
                        "data": [
                            2,
                            2,
                            1
                        ]
                    }
                },
                {
                    "y": 1,
                    "color": colors[3],
                    "drilldown": {
                        "name": "Nicotine",
                        "categories": [
                            "Dorsolateral prefrontal cortex"
                        ],
                        "data": [
                            1
                        ]
                    }
                },
                {
                    "y": 1,
                    "color": colors[4],
                    "drilldown": {
                        "name": "Oxycodone",
                        "categories": [
                            "Saliva"
                        ],
                        "data": [
                            1
                        ]
                    }
                },
            ],
            browserData = [],
            versionsData = [],
            i,
            j,
            dataLen = data.length,
            drillDataLen,
            brightness;
// Build the data arrays
        for (i = 0; i < dataLen; i += 1) {
            // add browser data
            browserData.push({
                name: categories[i],
                // y: data[i].drilldown.categories.length,
                y: data[i].y,
                color: data[i].color
            });
            // add version data
            drillDataLen = data[i].drilldown.data.length;
            for (j = 0; j < drillDataLen; j += 1) {
                brightness = 0.2 - (j / drillDataLen) / 5;
                versionsData.push({
                    name: data[i].drilldown.categories[j],
                    y: data[i].drilldown.data[j],
                    color: new Highcharts.Color(data[i].color).brighten(brightness).get()
                });
            }
        }
// Create the chart
        Highcharts.chart('methylation_human_data', {
            chart: {
                type: 'pie'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Human-Methylation'
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    center: ['50%', '50%']
                }
            },
            tooltip: {},
            series: [{
                name: 'Dataset',
                data: browserData,
                size: '60%',
                dataLabels: {
                    formatter: function () {
                        return this.point.name;
                    },
                    color: '#ffffff',
                    distance: -50
                },
                // tooltip: {
                // 	headerFormat: '<span>'+ 'p' +'</span>',
                // 	pointFormat: '<span>'+ 'dsafkjdshf' +'</span>',
                // },
            }, {
                name: 'Dataset',
                data: versionsData,
                size: '80%',
                innerSize: '60%',
                dataLabels: {
                    formatter: function () {
                        // display only if larger than 1
                        return '<b>' + this.point.name + ':</b> ' + this.y
                    }
                },
                id: 'versions'
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 400
                    },
                    chartOptions: {
                        series: [{
                            id: 'versions',
                            dataLabels: {
                                enabled: false
                            }
                        }]
                    }
                }]
            }
        });
    }

    function mouse_data() {
        var colors = Highcharts.getOptions().colors,
            categories = [
                "Cocaine",
                "Fentanyl",
                "Methamphetamine",
                "Amphetamine",
                "Oxycodone",
                "Heroin",
                "Morphine",
                "Ethanol",
                "Nicotine",
                "Cannabis"
            ],
            data = [
                {
                    "y": 2,
                    "color": colors[0],
                    "drilldown": {
                        "name": "Cocaine",
                        "categories": [
                            "PFC",
                            "NAc",
                        ],
                        "data": [
                            1,
                            1
                        ]
                    }
                },
                {
                    "y": 3,
                    "color": colors[1],
                    "drilldown": {
                        "name": "Fentanyl",
                        "categories": [
                            "NAc",
                            "VTA",
                        ],
                        "data": [
                            2,
                            1
                        ]
                    }
                },
                {
                    "y": 6,
                    "color": colors[2],
                    "drilldown": {
                        "name": "Methamphetamine",
                        "categories": [
                            "Stri",
                            "DG",
                            "CA",
                            "SVZ",
                            "NAc"
                        ],
                        "data": [
                            2,
                            1,
                            1,
                            1,
                            1
                        ]
                    }
                },
                {
                    "y": 1,
                    "color": colors[3],
                    "drilldown": {
                        "name": "Amphetamine",
                        "categories": [
                            "Stri"
                        ],
                        "data": [
                            1
                        ]
                    }
                },
                {
                    "y": 5,
                    "color": colors[4],
                    "drilldown": {
                        "name": "Oxycodone",
                        "categories": [
                            "mPFC",
                            "NAc",
                            "PFC",
                            "dStri",
                            "vStri"
                        ],
                        "data": [
                            1,
                            1,
                            1,
                            1,
                            1
                        ]
                    }
                },
                {
                    "y": 7,
                    "color": colors[5],
                    "drilldown": {
                        "name": "Heroin",
                        "categories": [
                            "NAc",
                            "PFC",
                            "BLA",
                            "VTA",
                            "vHPC",
                            "dStri",
                            "Stri"
                        ],
                        "data": [
                            1,
                            1,
                            1,
                            1,
                            1,
                            1,
                            1
                        ]
                    }
                },
                {
                    "y": 9,
                    "color": colors[6],
                    "drilldown": {
                        "name": "Morphine",
                        "categories": [
                            "Hipp",
                            "NAc",
                            "Brainstem",
                            "PVT",
                            "dmPFC",
                            "PFC",
                            "Stri"
                        ],
                        "data": [
                            1,
                            2,
                            1,
                            1,
                            1,
                            1,
                            2
                        ]
                    }
                },
                {
                    "y": 15,
                    "color": colors[7],
                    "drilldown": {
                        "name": "Ethanol",
                        "categories": [
                            "Cerebellum",
                            "PFC",
                            "Cortex",
                            "mPFC",
                            "Amygdala",
                            "Hipp",
                            "Hypothalamus",
                            "CeA",
                            "BNST"
                        ],
                        "data": [
                            3,
                            2,
                            1,
                            2,
                            2,
                            1,
                            1,
                            2,
                            1
                        ]
                    }
                },
                {
                    "y": 3,
                    "color": colors[8],
                    "drilldown": {
                        "name": "Nicotine",
                        "categories": [
                            "NAc",
                            "Hipp",
                            "Neocortex"
                        ],
                        "data": [
                            1,
                            1,
                            1
                        ]
                    }
                },
                {
                    "y": 8,
                    "color": colors[9],
                    "drilldown": {
                        "name": "Cannabis",
                        "categories": [
                            "Amy",
                            "DMS",
                            "NAc",
                            "PFC",
                            "VTA",
                            "Hipp"
                        ],
                        "data": [
                            1,
                            1,
                            2,
                            1,
                            1,
                            2
                        ]
                    }
                },
            ],
            browserData = [],
            versionsData = [],
            i,
            j,
            dataLen = data.length,
            drillDataLen,
            brightness;
// Build the data arrays
        for (i = 0; i < dataLen; i += 1) {
            // add browser data
            browserData.push({
                name: categories[i],
                // y: data[i].drilldown.categories.length,
                y: data[i].y,
                color: data[i].color
            });
            // add version data
            drillDataLen = data[i].drilldown.data.length;
            for (j = 0; j < drillDataLen; j += 1) {
                brightness = 0.2 - (j / drillDataLen) / 5;
                versionsData.push({
                    name: data[i].drilldown.categories[j],
                    y: data[i].drilldown.data[j],
                    color: new Highcharts.Color(data[i].color).brighten(brightness).get()
                });
            }
        }
// Create the chart
        Highcharts.chart('mouse_data', {
            chart: {
                type: 'pie'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Mouse-Transcriptome'
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    center: ['50%', '50%']
                }
            },
            tooltip: {},
            series: [{
                name: 'Dataset',
                data: browserData,
                size: '60%',
                dataLabels: {
                    formatter: function () {
                        return this.point.name;
                    },
                    color: '#ffffff',
                    distance: -50
                },
                // tooltip: {
                // 	headerFormat: '<span>'+ 'p' +'</span>',
                // 	pointFormat: '<span>'+ 'dsafkjdshf' +'</span>',
                // },
            }, {
                name: 'Dataset',
                data: versionsData,
                size: '80%',
                innerSize: '60%',
                dataLabels: {
                    formatter: function () {
                        // display only if larger than 1
                        return '<b>' + this.point.name + ':</b> ' + this.y
                    }
                },
                id: 'versions'
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 400
                    },
                    chartOptions: {
                        series: [{
                            id: 'versions',
                            dataLabels: {
                                enabled: false
                            }
                        }]
                    }
                }]
            }
        });
    }


</script>
</body>
</html>